/.gradle/
/build/
.idea
/bin/
.classpath
.project
.mvn
.settings
.DS_Store
micronautgraalapp
code-formatter.xml
checkstyle.xml
codenarc.xml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
logs-intg.txt
