<configuration>
    <variable name="LOGGING_LEVEL_ROOT" value="${LOGGING_LEVEL_ROOT:-INFO}" />
    <variable name="LOGGING_LEVEL_IO_GITHUB_DEVATHEROCK" value="${LOGGING_LEVEL_IO_GITHUB_DEVATHEROCK:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="${LOGGING_LEVEL_ROOT}">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="io.github.devatherock" level="${LOGGING_LEVEL_IO_GITHUB_DEVATHEROCK}" />
    <logger name="io.micronaut.http.server.netty.NettyHttpServer" level="TRACE" />
</configuration>
